<div class="home text-white">
    <div class="colorHome">
        <div class="logo text-center" style="padding-top: 100px;">
            <h1 class="text-white" style="font-size: 40px;">Welcome to <span style="color: #37FCFF;">Katcher</span></h1>
        </div>
        <div class="slogan pt-5 fs-3 text-center fw-bold">
            <p>Organize with your business faster than before!</p>
        </div>
        <div class="buttonsInit d-flex jusfity-content-center mt-5">
            <button class="btn btn-primary mx-auto initSignUp">Sign Up</button>
            <button class="btn btn-primary mx-auto initSignIn">Sign In</button>
        </div>
    </div>
</div>

<script>
    document.querySelector(".initSignIn").addEventListener('click', function(){
        loadPartialView('modules/login', appRender);
    });

    document.querySelector(".initSignUp").addEventListener('click', function(){
        loadPartialView('modules/register', appRender);
    });
</script>