@import url(./bootstrap/dist/css/bootstrap.min.css);
@import url(./bootstrap-icons/font/bootstrap-icons.css);

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.title{
    padding: 5px 20px;
}

h2{
    font-size: 40px;
}

.myNavBar{
    height: 60px;
}

/*Login styles */

.fields{
    width: 90%;
    margin: auto;
    transform: translateY(-50px);
}

.div{
    padding: 100px 0px;
    padding-bottom: 85px;
    width: 100%;
    background: rgb(156,200,255);
    background: linear-gradient(180deg, rgba(156,200,255,1) 0%, rgba(128,140,249,1) 51%, rgba(0,212,255,1) 100%);
}

.div2{
    width: 100%;
    padding: 30px 0;
}

.icon{
    padding: 5px;
}

.send{
    background: rgb(156,200,255);
    background: linear-gradient(180deg, rgba(156,200,255,1) 0%, rgba(0,48,255,1) 100%);
    border: none;
}

.goback{
    font-size: 10px;
    background: #6ED3FF;
    border: none;
}
/*Register styles */

.register{
    padding: 80px 0px;
    padding-top: 90px;
    padding-bottom: 50px;
}

.register2{
    padding: 15px 0;
}

.register3{
    transform: translateY(-70px);
}

.register-button{
    margin-top: -30px;
}

/*Settigns*/
.header{
    width: 100%;
}

.return{
    width: 20%;
}

.settings-text{
    width: 80%;
}

.profile-input {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}
.profile-input img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.edit-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-icon i {
    color: #555;
}

#profile_photo {
    display: none;
}

/*Groups*/

.create-group-button{
    width: 80%;
}

.groups-list{
    margin-bottom: 120px;
}

.card-image{
    width: 100px;
    height: 100px;
}

.card-image img{
    width: 100%;
}

/*Create groups*/

.image{
    width: 50%;
}

.color{
    width: 50%;
}

.selectionImage{
    font-size: 15px;
}

.pantone-card {
  background: #fff;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 2px 4px #0001;
  border: 4px solid #fff;
  margin: auto;
}

input[type="color"] {
  display: inline-flex;
  vertical-align: bottom;
  border: none;
  border-radius: 10px;
  padding: 0;
  height: 80px;
  width: 100%;
  cursor: pointer;
}
  
&::-webkit-color-swatch-wrapper {
    padding: 0;
}
  
&::-webkit-color-swatch {
    border: 0;
    border-radius: 10px 10px 0 0;
}
  
&::-moz-color-swatch {
    border: 0;
    border-radius: 10px 10px 0 0;
}
  
output {
    display: block;
    background: #fff;
    font-size: 15px;
    padding: 10px;
    font-family: 'helvetica', sans-serif;
    text-align: center;
}

output::before{
    content: 'HEXADECIMAL';
    font-size: 13px;
    font-weight: bold;
    display: block;
}



