<li class="list-group-item group-list-item">
  <div class="card my-3">
    <div class="card-header group_color p-2 group-color">
      <div class="card-image container d-flex justify-content-center align-items-center">
        <img src="/www/Public/img/app_sample.jpg" alt="" class="img-fluid group-image border-white" style="border-radius: 100%; border: 2px solid white; width: 100px; height: 100px;">
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title group-name">App Web Project</h5>
      <p class="card-text group-description">With supporting text below as a natural lead-in to additional content.</p>
      <button class="btn btn-primary group-id">Go to group</button>
    </div>
  </div>
</li>