<div class="card my-3">
  <div class="card-header group_color p-3 bg-success">
    <div class="card-image container d-flex justify-content-center align-items-center">
      <img src="/www/Public/img/app_sample.jpg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">App Web Project</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go to group</a>
  </div>
</div>