<li class="user-profile-element d-flex justify-content-between align-content-center gap-2 p-2 rounded bg-white shadow mt-3 text-black">
    <div class="d-flex justify-content-right align-content-center gap-2">
        <div style="width: 30px; height: 30px;">
            <img alt="" class="img-fluid rounded user-profile-image" style="width: 30px; height: 30px;">
        </div>
        <span class="user-profile-name d-flex align-items-center"></span>
    </div>
    <div class="delete-user-from-group justify-content-center align-items-center me-2" style="display: none;">
        <i class="bi bi-person-dash-fill"></i>
    </div>
</li>